/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin-top: 100px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(252, 252, 252);
}

h1 {
    font-size: larger;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}